.navbar {
  background-color: transparent;
  color: whitesmoke; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; 
}

.navbar-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1rem;
  width: 100%; 
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0; 
}

.navbar-item {
  padding: 0.5rem;
}

.navbar-link {
  color: whitesmoke; 
  opacity: 0.85;
  text-decoration: none;
  padding: 0.5rem;
  position: relative; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.black-navbar .navbar-link {
  color: black;
  font-weight: bold;
}

.navbar-link:before,
.navbar-link:after {
  content: '';
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  width: 0; 
  height: 1px;
  background-color: whitesmoke;
  bottom: 0; 
}

.black-navbar .navbar-link:before,
.black-navbar .navbar-link:after {
  background-color: black;
}

.navbar-link:hover {
  color: whitesmoke;
}

.black-navbar .navbar-link:hover {
  color: black;
}


.navbar-link:hover:before,
.navbar-link:hover:after {
  width: 100%;
}

.black-navbar .navbar-link:hover:before,
.black-navbar .navbar-link:hover:after {
  background-color: black;
}

