
/* home page */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
  position: relative; 
}
/* Home Background */
.home-background {
  background-image: url('../src/img/boston.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
/* Text Container */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px;
  position: relative;
 
}
.main-heading { 
  font-size: 5.5rem;
}

.sub-heading {
  font-size: 2.5rem;
  
}
/* Button Container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 50vh;
  margin-bottom: 0;
  width: 100%;
}

.button {
  font-size: 1rem !important;
  padding: 15px 40px !important;
  background-color: black !important;
  color: whitesmoke !important;
  border: 2px solid whitesmoke !important;
  border-radius: 25px !important;
  opacity: 0.85 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease, transform 0.3s ease !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.button:hover {
  background-color: whitesmoke !important;
  color: black !important;
  border-color: black !important;
  transform: scale(1.1) !important;
}

/* About Us Page */
.about-us-container {
  position: relative;
  z-index: 0;
  height: 100vh; 
}

.background-image2 {
  background-image: url('../src/img/about_us_seneca.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1;
  height: 100%; 
}

.image-text h1 {
  font-size: 5.6rem;
  margin: 0; 

}
.hero{
  font-family: "Waiting for the Sunrise", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.15rem;
  color:blueviolet
}
  
.about-us-2-container {
  display: grid; 
  grid-template-columns: 1fr 4fr; 
  gap: 20px; 
  max-width: 1200px; 
  margin: 0px 30px; 
  align-items: start; 
 

}

.about-us-2-text {
  padding: 8%;
  line-height: 2.2;
  text-align: center;
  font-size: 1.2rem;
}

.about-us-2-links {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.about-us-2-links a {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blueviolet;
  text-decoration: none;
  display: inline-block;
  padding: 4px;
  position: relative; 
  transition: color 0.5s ease, font-weight 0.5s ease, border-bottom 0.3s ease; 
}

.about-us-2-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: black;
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.5s ease; 
}

.about-us-2-links a:hover {
  color: black;
}

.about-us-2-links a:hover::before {
  transform: scaleX(1);
}

/* Membership Page */

.member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.member-image {
  background-image: url('../src/img/flower.jpg');
  background-size:cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; 
}

.image-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1; 
  height: 100%;
  position: relative;
}

.image-text2 h1 {
  font-size: 5.6rem;
  margin-top: 20vh;
}

.application-container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  margin-top: 25vh;
}
.hero-app{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 5vh;
}

.text-app{
  padding: 0vh 45vh;
  line-height: 2.2;
  font-size: 1.2rem;

}

.application-form {
  width: 40%;
  margin: 40px;
  padding: 60px 80px;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}
.text-form{
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

#name, #email, #message {
  border: none;
  border-bottom: solid 1px black;
  width: 100%;
  background-color: whitesmoke;
  color:#330e56;
  transition: background-color 0.3s, border-bottom 0.3s;
}
#name:focus, #email:focus, #message:focus {
  border: none; 
  border-radius: 15px;
  background-color: rgb(249, 239, 249); 
  outline: none;  
}

.submit-btn {
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  color: #fff;
  background-color: blueviolet;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.submit-btn:hover {
  background-color: #330e56;
}

.submit-btn:focus {
  outline: none;
}

.thank-you-message{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  padding: 30px;
  margin: 40px;
}


/* leadership page */

.leader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.leader-image {
  background-image: url('../src/img/roses.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  height: 50vh; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; 
}

.image-text3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1;
  height: 100%;
  position: relative;
}

.image-text3 h1 {
  font-size: 5.6rem;
  margin-top: 25vh;
}
.title h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  color: #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.leaders-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 20vh;
}
.leaders-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.leader-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.leader-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.leader-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}


.leader-box h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.leader-box p {
  font-size: 1rem;
  color: #555;
}

  /* fundraising page */

.fund-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fund-image {
  background-image: url('../src/img/fundraising.webp');
  background-size:cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; 
}

.image-text4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  color:black; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1; 
  position: relative;
}

.image-text4 h1{
  font-size: 5.6rem;
  margin-top: 25vh;
}
.why-found{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 25vh 25vh  10vh  30vh;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 2.2;
font-size: 1.2rem;

}
.why-found h3{
  padding: 6vh;
}

/* Grid layout for the Fundraising section */
.fundraising-grid {
  display: grid;
  grid-template-columns: auto auto ;
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  gap: 60px;
  margin-bottom: 5vh;
}

.donorbox-container {
  width: 100%;
  max-width: 450px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}
.qr-code-container {
  display: flex;
  flex-direction: column; 
  align-items: center ;
  justify-content: center;
  text-align: center;
  gap: 16px; 
}

.qr-code {
  width: 150px;
  height: 150px;
  object-fit: contain; 
}

.campaign-link {
  font-size: 16px;
  color: #330e56; 
  text-decoration: none;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.campaign-link:hover {
  color: blue; 
}

   /* faq page */

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  position: relative;
}

.faq-image {
  background-image: url('../src/img/QUESTION.jpg');
  background-size:cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; 
}
.image-text5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  color:black; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1; 
  height: 100%;
  position: relative;
}

.image-text5 h1{
  font-size: 5.6rem;
  margin-top: 20vh;}

  .faq-content {
      display: flex; 
      flex-direction: column; 
      justify-content: center;
      margin-top: 12%;
      margin-bottom: 5%;
      margin-left: 29%;
      max-width: 700px; 
    }
  
  .faq-item {
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
  }
  
  .faq-question {
    width: 100%;
    background: #330e56;
    color:whitesmoke;
    padding: 20px;
    text-align: left;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-question.active {
    background: blueviolet;
  }
  
  .faq-answer {
    padding: 15px;
    font-size: 16px;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/*women&harvard page*/

  .women-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .women-image {
    background-image: url('../src/img/women2.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    height: 55vh; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; 
  }
  
  .image-text6 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    height: 100%;
    position: relative;
  }
  
  .image-text6 h1 {
    font-size: 5.6rem;
    margin-top: 22vh;

     }
  .title1 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .timeline {
    position: relative;
    max-width: 800px;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 20px; 
    bottom: 20px; 
    left: 70px;
    width: 3px; 
    background-color: blueviolet; 
    border-radius: 3px; }
  
  .timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
  }
  
  .timeline-year {
    flex: 0 0 80px;
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    text-align: right;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .timeline-content {
    background-color: #fff;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .timeline-content:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
 
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -16px;
    width: 12px;
    height: 12px;
    background-color:  blueviolet; 
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 1;
  }

  /* News page */
.news-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.news-image {
  max-width: 500px; 
  width: 100%;
  height: auto; 
  border-radius: 8px;
  margin-bottom: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news-article {
  background-color: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.news-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.news-article h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.news-article p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

.news-article a {
  font-size: 1.1em;
  color: blueviolet;
  text-decoration: none;
  font-weight: 500;
}

.news-article a:hover {
  text-decoration: underline;
}


/*gallery page */

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery-image {
  background-image: url('../src/img/gallery1.png');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  height: 55vh; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; 
}

.gallery-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color:whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1;
  height: 100%;
  position: relative;
}

.gallery-text h1 {
  font-size: 5.6rem;
  margin-top: 22vh;

   }

.pictures-grid {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20vh;
}

.picture {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.picture img {
  
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 

}

.picture:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
